
        body {
            font-family: Arial, sans-serif;
            font-size: 12pt;
            background-color: #d2e6f8; /* Light blue */
            color: #333; /* Dark gray */
            margin: 20px; /* Greater than 10pt margin for all sides */
        }
    
        h1 {
            font-size: 24pt;
            color: #872468;
            font-weight: bold; /* Ensure H1 appears more important */
            margin-bottom: 10px; /* Add spacing below H1 */
        }
        h2 {
            font-size: 20pt;
            color: #4682b4; /* Steel blue */
            margin-bottom: 8px; /* Add spacing below H2 */
        }
        h3 {
            font-size: 18pt;
            color: #008080; /* Teal */
            margin-bottom: 6px; /* Add spacing below H3 */
        }
        /* Styles for paragraph tags */
        p {
            font-size: 14pt;
            color: #696969; /* Dim gray */
            line-height: 1.6; /* Adjust line height for readability */
            margin-bottom: 12px; /* Add spacing below paragraphs */
        }
        /* Anchor Tags */
        a:link {
            color: #800080; /* Purple */
            text-decoration: none; /* Remove underline */
        }

        a:visited {
            color: #4B0082; /* Indigo */
            text-decoration: none; /* Remove underline */
        }

        a:hover {
            color: #ff4500; /* Orange red */
            text-decoration: underline; /* Add underline on hover */
        }

        a:active {
            color: #008000; /* Green */
            text-decoration: none; /* Remove underline */
        }

        .link {
            float: left;
            border: 1px solid #000;
        }

        .text {
            float: left;
            border: 1px solid #000
        }

      
   