
        body {
            font-family: Arial, sans-serif;
            font-size: 12pt;
            background-color: #d2e6f8; 
            color: #333;
            margin: 20px; 
        }
    
        h1 {
            font-size: 24pt;
            color: #872468;
            font-weight: bold; 
            margin-bottom: 10px; 
        }
        h2 {
            font-size: 20pt;
            color: #4682b4; 
            margin-bottom: 8px; 
        }
        h3 {
            font-size: 18pt;
            color: #008080; 
            margin-bottom: 6px; 
        }
       
        p {
            font-size: 14pt;
            color: #696969; 
            line-height: 1.6; 
            margin-bottom: 12px; 
        }
        
        a:link {
            color: #800080; 
            text-decoration: none; 
        }

        a:visited {
            color: #4B0082; 
            text-decoration: none; 
        }

        a:hover {
            color: #ff4500; 
            text-decoration: underline; 
        }

        a:active {
            color: #008000; 
            text-decoration: none; 
        }

        .link {
            float: left;
            border: 1px solid #000;
        }

        .text {
            float: left;
            border: 1px solid #000
        }


      
   